/* Post Article
-----------------------------------*/
.post-article {
    .post-article-byline {
        padding: 0 0 1.250em 0;
        color: @gray-light;

        a {
            .hover-link(@color: @gray-dark, @hover-color: darken(@red, 15%), @font-family: @nunito-bold);
        }
    }

    .post-article-content {
        p {
            .drop-caps();
            line-height: 2.0;
            font-size: 1.063em;
            margin: 0 0 2.500em 0;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: @ekmukta-regular, @font-fallback;
            text-transform: uppercase;
            letter-spacing: .1em;
        }

        h5, h6 {
            color: @gray-light;
            font-family: @ekmukta-bold, @font-fallback;
        }
    }

    .post-article-share {
        margin: 0 0 2.5em 0;
    }

    .post-article-author {
        margin: 0 0 2.5em 0;
        .social-media {
            margin: 0;
        }
    }
}
