/* Post Article
-----------------------------------*/
.post-article {
    background-color: @white;
    padding: 4em 3em;
    .drop-shadow(@x: 0, @y: 0, @blur: 0.2em, @spread: 0.12em, @alpha: .2);

    .post-article-byline {
        padding: 0 0 1.250em 0;
        color: @gray-light;

        a {
            .hover-link(@color: @gray-dark, @hover-color: darken(@red, 15%), @font-family: @nunito-bold);
        }
    }

    .post-article-content {
        h1, h2, h3, h4, h5, h6 {
            font-family: @ekmukta-bold, @font-fallback;
            text-transform: uppercase;
            letter-spacing: .1em;
        }

        h1 {
            border-bottom: 0.02em solid lighten(@gray-light, 25%);
            padding: 0 0 .2em 0;
        }

        h5, h6 {
            color: @gray-light;
        }

        p, ul, ol, dl {
            font-size: 1.250em;
        }

        p, ul, ol, dl {
            margin: 0 0 1.7em 0;
        }

        p {
            line-height: 1.688em;
        }

        ol, ul {
            padding-left: 2.5em;
        }

        ol ol, ul ul, ul ol, ol ul {
            margin: 0 0 .4em 0;
            padding-left: 2em;
            font-size: 0.9em;
        }

        a {
            .hover-link(@color: darken(@red, 10%), @hover-color: @red);
        }

        img {
            margin: 0 auto;
            width: 100%;
            height: auto;
            border: 0;
        }

        blockquote {
            margin: 1.6em 0;
            padding: .5em 1.6em;
            background-color: lighten(@gray-lighter, 3%);
            border-left: .6em solid darken(@red, 10%);
            color: @gray-light;
            font-style: italic;
        }

        code {
            color: darken(@red, 10%);
        }

        pre {
            display: block;
            overflow: auto;
            margin: 2em 0;
            padding: 1em;
            border: 0.063em solid lighten(@gray-light, 8%);
            border-radius: 0.188em;
            background-color: lighten(@gray-lighter, 5%);
            white-space: pre;
            font-size: 0.9em;

            code {
                padding: 0;
                border: none;
                background: transparent;
                white-space: pre-wrap;
                font-size: inherit;
                color: @gray-light;
            }
        }

        hr {
            margin: 1.375em 0 1.375em 0;
            padding: 0 0 0.625em 0;
            border: 0;
            border-top: 0.063em solid lighten(@gray-light, 25%);
        }
    }

    .post-article-share {
        margin: 0 0 2.5em 0;
    }

    .post-article-author {
        margin: 0 0 2.5em 0;
        .social-media {
            margin: 0;
        }
    }
}

/* Desktop First */
/* Small Devices, Tablets */
@media (max-width : 768px) {
    .post-article {
        padding: 4em 0;
        background-color: transparent;
        .drop-shadow(@x: 0, @y: 0, @blur: 0, @spread: 0, @alpha: 0);
    }
}