/* Post header
-----------------------------------*/
.post-header {
    background-color: @cream;
    padding: 0 0 3em 0;

    .post-header-inner {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background: @black url('../images/header-background.png') no-repeat 0 0;
        background-size: cover;
        border-bottom: 0.063em solid @black;
        padding: 6.2em 0 7.3em 0;
        .drop-shadow();
    }

    .brand-container {
        position: absolute;
        top: 0; right: 0;

        .blog-logo {
            padding: 1.1em 1.2em 0 0;
            img {
                width: 3em;
                height: auto;
            }
        }
    }

    .title-container {
        display: block;
        margin: 0 auto;
        text-align: left;
        padding: 0 1.7em 0 1.7em;

        .title {
            font-family: @ekmukta-regular, @font-fallback;
            font-size: 2.563em;
            color: @white;
            letter-spacing: .2em;
            white-space: normal;
            text-transform: uppercase;
        }

        .date {
            color: @gray-light;
        }
    }

    .link-container {
        position: absolute;
        bottom: 0; right: 0;
        .back-to-blog {
            font-family: @ekmukta-regular, @font-fallback;
            text-transform: uppercase;
            font-size: 1em;

            .hover-box(
                @background: transparent,
                @border: @white,
                @border-width: 0.188em,
                @color: @white,
                @hover-border: @black,
                @hover-background: @white,
                @hover-color: @black,
                @padding: 0.7em 0.750em,
                @margin: 0 1.2em 1.2em 0
            );
        }
    }
}

.post-header-responsive (@font-size: 2em) {
    .post-header {
        .title-container {
            .title {
                font-size: @font-size;
            }
        }
    }
}

/* Desktop First */
/* Extra Small Devices, Phones */
@media (max-width : 480px) {
    .post-header-responsive(@font-size: 2em);
}