/* Post header
-----------------------------------*/
.post-header {
    background-color: @cream;
    padding: 0 0 3em 0;

    .post-header-inner {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background: @black url('../images/header-background.png') no-repeat 0 0;
        background-size: cover;
        border-bottom: 0.063em solid @black;
        padding: 6.2em 0 7.3em 0;
        .drop-shadow();
    }

    .brand-container {
        position: absolute;
        top: 0; right: 0;

        .blog-logo {
            padding: 1.1em 1.2em 0 0;
            img {
                width: 3em;
                height: auto;
            }
        }
    }

    .title-container {
        text-align: left;

        .title {
            font-family: @ekmukta-light, @font-fallback;
            font-size: 2.563em;
            color: @white;
            letter-spacing: .2em;
            white-space: nowrap;
            text-transform: uppercase;
        }
    }

    .link-container {
        position: absolute;
        bottom: 0; right: 0;
        a {
            text-transform: uppercase;
            font-size: 0.875em;

            .hover-box(
                @background: transparent,
                @border: @white,
                @color: @white,
                @hover-border: @black,
                @hover-background: @white,
                @hover-color: @black,
                @padding: 0.7em 0.750em,
                @margin: 0 1.2em 1.2em 0
            );
        }
    }
}
