/* Post Card
-----------------------------------*/
.posts-container {
    display: flex;
    flex-direction: column;
    padding: 1.250em 0 1.250em 0;
    font-family: @nunito-regular, @font-fallback;
    color: @gray-light;

    .empty {
        display: block;
        text-align: center;
        padding: 0 0 1em 0;
    }
}

.postcard {
    flex-grow: 0;
    background-color: @white;
    margin: 0 0 3em 0;
    .drop-shadow(@x: 0, @y: 0, @blur: 0.2em, @spread: 0.12em, @alpha: .2);

    .postcard-tags {
        padding: 1.250em 1.5em 1.250em 1.5em;
    }

    .postcard-header {
        padding: 0 1.5em 0 1.5em;
        text-transform: capitalize;
        background-color: @white;

        .postcard-title {
            margin: 0;

            .title {
                text-transform: uppercase;
                .hover-link(@font-family: @ekmukta-bold, @hover-color: darken(@red, 10%));
            }
        }
    }

    .postcard-content {
        font-size: .9em;
        padding: .5em 1.7em 1.250em 1.7em;
        letter-spacing: 0.031em;
        text-transform: uppercase;
        margin: 0 0 8em 0;

        .postcard-author {
            a {
                .hover-link(@color: @black, @font-family: @nunito-bold, @hover-color: darken(@red, 10%));
            }
        }
    }

    .postcard-read-more {
        .read-more {
            font-family: @ekmukta-bold, @font-fallback;
            text-transform: uppercase;
            .hover-box(
                @color: @black,
                @background: @white,
                @border: @black,
                @border-width: 0.188em,
                @hover-border: @black,
                @hover-background: @black,
                @hover-color: @white
            );
        }
    }

    .postcard-footer {
        font-size: 1.063em;
        letter-spacing: 0.031em;
        padding: 1.250em 1.5em 1.250em 1.5em;
    }

    &:last-child {
        margin: 0 0 0 0;
    }

    .transition();
    .hover-grow(@scale: 1.05);
}
