.post-article {
    .post-article-byline {
        padding: 0 0 1.250em 0;
        color: @gray-light;

        a {
            .hover-link(@color: @gray-dark, @hover-color: @red, @font-family: @nunito-bold);
        }
    }

    .post-article-content {
        p {
            .drop-caps();
            line-height: 2.0;
            font-size: 1.063em;
            margin: 0 0 2.500em 0;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: @ekmukta-regular, @font-fallback;
            text-transform: uppercase;
            letter-spacing: .1em;
        }

        h5, h6 {
            color: @gray-light;
            font-family: @ekmukta-bold, @font-fallback;
        }
    }

    .post-article-share {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 0 2.5em 0;

        .post-article-share-title {
            display: inline-flex;
            text-transform: uppercase;
            font-family: @nunito-regular, @font-fallback;
            font-size: 0.875em;
            padding: 0 1em 0 0;
            margin: 0;
        }

        .post-article-share-list {
            display: inline-flex;
            flex-direction: row;
            margin: 0;

            .post-article-share-list-item {
                display: inline-block;

                .social-media-icon {
                    .hover-box(
                        @padding: 0.750em 0.750em,
                        @margin: 0 0.3em 0 0
                    );
                }
            }
        }
    }
}
