.sub-footer {
    border-top: 0.063em solid lighten(@gray-light, 30%);
    border-bottom: 0.063em solid lighten(@gray-light, 30%);
    padding: 1.7em 0 1.7em 1.2em;
    font-size: 1.563em;
    display: block;

    .social-media {
        margin: 0;

        .social-media-list {
            .social-media-list-item {
                .social-media-icon {
                    .hover-box(
                        @color: @white,
                        @background: @black,
                        @border: @black,
                        @hover-color: @black,
                        @hover-background: @white,
                        @hover-border: @black,
                        @padding: 0.750em 0.750em,
                        @margin: 0 0.3em 0 0
                    );
                }
            }
        }
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .sub-footer {
        padding: 1.7em 0 1.7em 0.5em;

        .social-media {
            .social-media-list {
                .social-media-list-item {
                    .social-media-icon {
                        .hover-box(
                            @color: @white,
                            @background: @black,
                            @border: @black,
                            @hover-color: @black,
                            @hover-background: @white,
                            @hover-border: @black,
                            @padding: 0.5em 0.5em,
                            @margin: 0 0.3em 0 0
                        );
                    }
                }
            }
        }

    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .sub-footer {
        padding: 1.7em 0 1.7em 0.5em;

        .social-media {
            .social-media-list {
                .social-media-list-item {
                    .social-media-icon {
                        .hover-box(
                            @color: @white,
                            @background: @black,
                            @border: @black,
                            @hover-color: @black,
                            @hover-background: @white,
                            @hover-border: @black,
                            @padding: 0.5em 0.5em,
                            @margin: 0 0.3em 0 0
                        );
                    }
                }
            }
        }

    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .sub-footer {
        padding: 1.7em 0 1.7em 1.2em;

        .social-media {
            .social-media-list {
                .social-media-list-item {
                    .social-media-icon {
                        .hover-box(
                            @color: @white,
                            @background: @black,
                            @border: @black,
                            @hover-color: @black,
                            @hover-background: @white,
                            @hover-border: @black,
                            @padding: 0.750em 0.750em,
                            @margin: 0 0.3em 0 0
                        );
                    }
                }
            }
        }

    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .sub-footer {
        padding: 1.7em 0 1.7em 1.2em;

        .social-media {
            .social-media-list {
                .social-media-list-item {
                    .social-media-icon {
                        .hover-box(
                            @color: @white,
                            @background: @black,
                            @border: @black,
                            @hover-color: @black,
                            @hover-background: @white,
                            @hover-border: @black,
                            @padding: 0.750em 0.750em,
                            @margin: 0 0.3em 0 0
                        );
                    }
                }
            }
        }

    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .sub-footer {
        padding: 1.7em 0 1.7em 1.2em;

        .social-media {
            .social-media-list {
                .social-media-list-item {
                    .social-media-icon {
                        .hover-box(
                            @color: @white,
                            @background: @black,
                            @border: @black,
                            @hover-color: @black,
                            @hover-background: @white,
                            @hover-border: @black,
                            @padding: 0.750em 0.750em,
                            @margin: 0 0.3em 0 0
                        );
                    }
                }
            }
        }

    }
}
