<footer class="footer" role="contentinfo">
    <div class="copyright">
        <span>&copy;{{date format="YYYY"}} All Rights Reserved.</span>
    </div>
    <div class="poweredby">
        <span>Powered by</span>
        <a href="https://ghost.org">Ghost</a>
    </div>
</footer>
