<div class="page-loader">
    <div class="page-loader-spinner">
        <i class="fa fa-spinner fa-spin fa-5x fa-fw" aria-hidden="true">
            <span class="sr-only">Loading...</span>
        </i>
    </div>
    <div class="page-loader-backdrop" aria-hidden="true">&nbsp;</div>
</div>