<div class="sub-footer" role="contentinfo">
    <ul class="list-unstyled sub-footer-list">
        <li class="sub-footer-list-item">
            <a class="social-media-icon" href="https://twitter.com/mpolizzotti/" target="_blank">
                <i class="fa fa-twitter"><span class="sr-only">Twitter</span></i>
            </a>
        </li>
        <li class="sub-footer-list-item">
            <a class="social-media-icon" href="https://codepen.io/mpolizzotti/" target="_blank">
                <i class="fa fa-codepen"><span class="sr-only">Codepen</span></i>
            </a>
        </li>
        <li class="sub-footer-list-item">
            <a class="social-media-icon" href="https://www.linkedin.com/in/matthew-polizzotti-92a28652" target="_blank">
                <i class="fa fa-linkedin"><span class="sr-only">Linkedin</span></i>
            </a>
        </li>
        <li class="sub-footer-list-item">
            <a class="social-media-icon" href="https://github.com/mpolizzotti" target="_blank">
                <i class="fa fa-github"><span class="sr-only">Github</span></i>
            </a>
        </li>
        <li class="sub-footer-list-item">
            <a class="social-media-icon" href="https://plus.google.com/100951874705247698641" target="_blank">
                <i class="fa fa-google-plus"><span class="sr-only">Google+</span></i>
            </a>
        </li>
    </ul>
</div>
