<div class="tags">
    <header class="tags-header">
        <h3 class="tags-title">
            <span>Tags</span>
        </h3>
    </header>
    <section class="tags-content">
        {{#if posts}}
            <ul id="tagsList" class="list-unstyled tags-list">
                {{#foreach posts}}
                    {{#if tags}}
                        {{#foreach tags}}
                            <li class="tags-list-item">
                                <a href="{{url}}" title="{{name}}" class="tag">{{name}}</a>
                            </li>
                        {{/foreach}}
                    {{/if}}
                {{/foreach}}
            </ul>
        {{/if}}
        <span id="tagsEmpty" class="empty hidden">No articles have been tagged.</span>
        <div id="tagsLoader" class="tags-loader">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true"></i>
            <span class="sr-only" aria-hidden="false">Loading tags...</span>
        </div>
    </section>
</div>
