<ul class="list-unstyled tags-label">
    {{#foreach tags}}
        <li class="tags-label-list-item">
            <a href="{{url}}" title="{{name}}" class="tag-label">{{name}}</a>
        </li>
    {{/foreach}}
</ul>