<div id="twitterList" class="twitter-list">
    <header class="twitter-header">
        <h3 class="twitter-title">
            <span>Twitter</span>
        </h3>
    </header>
    <section id="twitterContent" class="twitter-content">
        {{#if author}}
            <a class="twitter-timeline" href="{{twitter_url author.twitter}}">&nbsp;</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        {{else}}
            <a class="twitter-timeline" href="{{twitter_url @blog.twitter}}">&nbsp;</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        {{/if}}
    </section>
    <section id="twitterContentError" class="twitter-content-error hidden">
        <p class="empty">Twitter feed is currently unavailable.</p>
    </section>
    <div id="twitterLoader" class="twitter-loader">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true"></i>
        <span class="sr-only" aria-hidden="false">Loading twitter...</span>
    </div>
</div>