<div class="twitter-list">
    <header class="twitter-header">
        <h3 class="twitter-title">
            <span>Twitter</span>
        </h3>
    </header>
    <section id="twitterContent" class="twitter-content">
        <a class="twitter-timeline" href="https://twitter.com/mpolizzotti">&nbsp;</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>

    <div id="twitterLoader" class="twitter-loader">
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" aria-hidden="true"></i>
        <span class="sr-only" aria-hidden="false">Loading twitter...</span>
    </div>
</div>