node_modules/
assets/css/solitude.css
assets/js/lib/**
assets/js/min/**
assets/js/src/components/me/me.js
assets/fonts/font-awesome/**
assets/fonts/bootstrap/**
package/**
jshint-output.log
.DS_Store
npm-debug.log