{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The main header --}}
{{> "main-header"}}

{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">
    <div class="container">
        {{> "posts"}}
    </div>
</main>
