{{!< default}}

{{!-- Header --}}
{{> "post-header"}}

{{!-- Content --}}
<main id="content" class="content" role="main">
    <div class="container">
        {{> "post-article"}}
    </div>
</main>

{{!-- Links to Previous/Next posts --}}
{{> "next-article"}}
