{{!< default}}

{{!-- Header --}}
{{> "post-header"}}

{{!-- Content --}}
<main id="content" class="content" role="main">
    <div class="container">
        {{> "post-article"}}
    </div>
</main>

{{!-- Links to Previous/Next posts --}}
{{> "next-article"}}

{{!-- Aside --}}
<aside class="content-aside" role="complementary">
    <section class="content-aside-section posts">
        {{> "posts-latest"}}
    </section>
    <section class="content-aside-section tags">
        {{> "tags"}}
    </section>
    <section class="content-aside-section twitter">
        {{> "twitter-list"}}
    </section>
</aside>
