/* Font
 * Fonts used across solitude theme.
------------------------------------*/
@import url('//fonts.googleapis.com/css?family=Nunito:300,400');
@import url('//fonts.googleapis.com/css?family=Ek+Mukta:300,400,500');

@nunito-light: 'Nunito:300';
@nunito-regular: 'Nunito:400';
@ekmukta-light: 'Ek Mukta:300';
@ekmukta-regular: 'Ek Mukta:400';
@ekmukta-medium: 'Ek Mukta:500';
@helvetica: Helvetica;
@arial: Arial;
