/* Font
 * Fonts used across solitude theme.
------------------------------------*/

/* Nunito Sans */
@nunito-path: '../fonts/NunitoSans/';
@nunito-name: 'Nunito Sans';
@nunito-file: 'NunitoSans';
@nunito-light: '@{nunito-name} Light';
@nunito-regular: '@{nunito-name} Regular';
@nunito-bold: '@{nunito-name} Bold';

@font-face {
    font-family: @nunito-light;
    font-style: normal;
    font-weight: 400;
    src: url('@{nunito-path}@{nunito-file}-Light.ttf') format('woff2');
}

@font-face {
  font-family: @nunito-regular;
  font-style: normal;
  font-weight: 400;
  src: url('@{nunito-path}@{nunito-file}-Regular.ttf') format('woff2');
}

@font-face {
    font-family: @nunito-bold;
    font-style: normal;
    font-weight: 700;
    src: url('@{nunito-path}@{nunito-file}-Bold.ttf') format('woff2');
}

/* EkMukta */
@ekmukta-path: '../fonts/EkMukta/';
@ekmukta-name: 'Ek Mukta';
@ekmukta-light: '@{ekmukta-name} Light';
@ekmukta-regular: '@{ekmukta-name} Regular';
@ekmukta-bold: '@{ekmukta-name} Bold';
@ekmukta-file: 'EkMukta';

@font-face {
    font-family: @ekmukta-light;
    font-style: normal;
    font-weight: 300;
    src: url('@{ekmukta-path}@{ekmukta-file}-Light.ttf') format('woff2');
}

@font-face {
    font-family: @ekmukta-regular;
    font-style: normal;
    font-weight: 400;
    src: url('@{ekmukta-path}@{ekmukta-file}-Regular.ttf') format('woff2');
}

@font-face {
    font-family: @ekmukta-bold;
    font-style: normal;
    font-weight: 700;
    src: url('@{ekmukta-path}@{ekmukta-file}-Bold.ttf') format('woff2');
}

/* Nunito Sans */
@montserrat-path: '../fonts/Montserrat/';
@montserrat-name: 'Montserrat';
@montserrat-file: 'Montserrat';
@montserrat-light: '@{montserrat-name} Light';
@montserrat-regular: '@{montserrat-name} Regular';
@montserrat-bold: '@{montserrat-name} Bold';

@font-face {
    font-family: @montserrat-light;
    font-style: normal;
    font-weight: 300;
    src: url('@{montserrat-path}@{montserrat-file}-Light.ttf') format('woff2');
}

@font-face {
  font-family: @montserrat-regular;
  font-style: normal;
  font-weight: 400;
  src: url('@{montserrat-path}@{montserrat-file}-Regular.ttf') format('woff2');
}

@font-face {
    font-family: @montserrat-bold;
    font-style: normal;
    font-weight: 700;
    src: url('@{montserrat-path}@{montserrat-file}-Bold.ttf') format('woff2');
}

/* Helvetica */
@helvetica: Helvetica;

/* Arial */
@arial: Arial;
