/* Mixin
 * Collection of mixins for the solitude theme.
-----------------------------------------------*/
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.inset-shadow (@x: 0, @y: 0, @blur: 8px, @spread: -2px, @alpha: 0.25) {
   -moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
   -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
   box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.circle (@size: 100px, @color: @white, @background: @black) {
    border-radius: 50%;
    width: @size;
    height: @size;
    color: @color;
    background-color: @background;
}

.hover-link (
    @color: @black,
    @font-family: @nunito-regular,
    @hover-color: @black,
    @text-decoration: none) {
        color: @color;
        font-family: @font-family, @font-fallback;
        transition:all 0.3s ease;

        &:hover, &:focus {
            color: @hover-color;
            text-decoration: @text-decoration;
        }
}

.hover-icon (
    @color: @white,
    @background: @black,
    @border: @black,
    @hover-color: @black,
    @hover-background: @white,
    @hover-border: @black) {
        color: @color;
        background-color: @background;
        border: 0.063em solid @border;
        text-decoration: none;
        transition:all 0.3s ease;
        &:hover, &:focus {
            color: @hover-color;
            background-color: @hover-background;
            border: 0.063em solid @hover-border;
            text-decoration: none;
            .inset-shadow(@alpha: 0.70);
        }
}

.hover-box (
    @background: @cream,
    @border: darken(@gray-lighter, 10%),
    @color: @gray-light,
    @hover-border: darken(@red, 15%),
    @hover-background: darken(@red, 10%),
    @text-decoration: none,
    @hover-color: @white,
    @padding: 0.375em 0.750em,
    @margin: 0.500em 0) {
        display: inline-flex;
        flex-direction: row;
        align-items: baseline;
        padding: @padding;
        margin: @margin;

        background: @background;
        border: 0.063em solid @border;
        color: @color;
        transition:all 0.3s ease;

        &:hover, &:focus {
            border: 0.063em solid @hover-border;
            background: @hover-background;
            text-decoration: @text-decoration;
            color: @hover-color;
            .inset-shadow(@alpha: 0.70);
        }
}

.hover-grow (@scale: 1.3) {
    &:hover, &:focus {
        -webkit-transform: scale(@scale);
        -ms-transform: scale(@scale);
        transform: scale(@scale);
    }
}

.hover-fade (@opacity: 0.5, @hover-opacity: 1) {
    opacity: @opacity;
    &:hover, &:focus {
        opacity: @hover-opacity;
    }
}

.transition(@transition: all, @duration: 0.3s, @timing: ease) {
    transition: @transition @duration @timing;
}
